body {
    background-color: rgb(18, 18, 104);
}
.banner{
    background-color: bisque;
    text-align: center;
}
.informacao{
    display: flex;
    justify-content: space-around;
}
.caixa1{
    background-color: cornflowerblue;
    height: 795px;
    width: 894px;
    display: flex;
    padding: 15px;;

    padding: 15px;
    word-break: break-all;
}

.imagens1{
    width: 334px;
    height: 794px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.txcx1{
    display: flex;
    flex-direction: column;
}

.textos1{
    margin: 60px;
    width: 505px;
    height: 135px;
    font-style: italic;
    color: aliceblue;
}

.textos2{
    margin: 60px;
    width: 505px;
    height: 135px;
    font-style: italic;
    color: aliceblue;
}

.textos3{
    margin: 60px;
    width: 480px;
    height: 135px;
    font-style: italic;
    color: aliceblue;
}

.caixa2{
    background-color: cornflowerblue;
    height: 795px;
    width: 894px;
    display: flex;
    padding: 15px;;

    padding: 15px;
    word-break: break-all;
}

.imagens2{
    width: 334px;
    height: 499px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.txcx2{
    display: flex;
    flex-direction: column;
    width: 607px;
    height: 476px;
}

.textos4{
    margin: 60px;
    width: 505px;
    height: 135px;
    font-style: italic;
    color: aliceblue;
    
}

.textos5{
    margin: 60px;
    width: 505px;
    height: 135px;
    font-style: italic;
    color: aliceblue;
}

.referência{
    width: 505px;
    height: 135px;
    font-style: italic;
    color: aliceblue;
    padding-top: 281px;
}