body {
    background-color: rgb(18, 18, 104);
}

.banner{
    background-color: bisque;
    text-align: center;
}

.informacao{
    display: flex;
    justify-content: space-around;
}

.caixa1{
    background-color: cornflowerblue;
    height: 795px;
    width: 910px;
    display: flex;
    padding: 15px;;
    
}

.caixa2{
    background-color: cornflowerblue;
    height: 795px;
    width: 910px;
}
